Schema Issue, RFC 7991, New Section 2.X, <u>


Proposal:  Limit the arbitrary placement of unicode characters and
strings in the body of a document, and control the expansion
of the unicode codepoints by requiring that they be placed
within a specific element.  The following text is proposed
for inclusion in RFC 7991-bis as a new section:

The <u> element contains a unicode string which will be rendered
according to one of the 6 methods of uncode renderings listed in
[RFC7997], Section 3.4.

In xml2rfc vocabulary version 3, the elements <author>, <organization>,
<street>, <city>, <region>, <code>, <country>, <postalLine>, <email>,
and <seriesInfo> may contain non-ascii characters for the purpose of
rendering author names, addresses, and reference titles correctly.  They
also have an additional "ascii" attribute for the purpose of proper
rendering in ascii-only media.

However, in order to insert unicode characters in any other context,
xml2rfc vocabulary v3 requires that the unicode string be enclosed
within an <u> element.  The element will be expanded inline based on the
value of an attribute named "expansion" as follows.  Given an element <u
expansion="...">Δ</u> in an example sentence:

expansion="numeric-literal":  Temperature changes in the Temperature
Control Protocol are indicated by the U+2206 character ("Δ").

expansion="numeric-name":  Temperature changes in the Temperature
Control Protocol are indicated by the U+2206 character (INCREMENT).

expansion="numeric-literal-name":  Temperature changes in the
Temperature Control Protocol are indicated by the U+2206 character
("Δ", INCREMENT).

expansion="numeric-name-literal":  Temperature changes in the
Temperature Control Protocol are indicated by the U+2206 character
(INCREMENT, "Δ").

expansion="name-literal-numeric":  Temperature changes in the
Temperature Control Protocol are indicated by the "Delta" character
"Δ" (U+2206).

expansion="literal-name-numeric":  Temperature changes in the
Temperature Control Protocol are indicated by the character "Δ"
(INCREMENT, U+2206).

If the <u> element encloses a unicode string, the rendering reflects
this.  The element <u expansion="numeric-literal">ᏚᎢᎵᎬᎢᎬᏒ</u> will be
expanded to 'the characters U+13DA U+13A2 U+13B5 U+13AC U+13A2 U+13AC
U+13D2 ("ᏚᎢᎵᎬᎢᎬᏒ")'

Unicode characters which are not enclosed in one of the elements
mentioned above will be replaced with a question mark (?) and a warning
will be issued.